# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg

data/
.venv/
docker-compose.yml
PCB_DATASET_yolo_version/
yolo-V8-main/
staticfiles/
/PCB_DATASET_yolo_version.zip
/run.zip
best_model.pth


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# FastAPI / Uvicorn logs
*.log
*.sqlite3

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Python virtualenvs
.venv/
torch_gpu/
/migrations/

# Uploads (if temporary and not versioned)
uploads/

# dotenv
.env
.env.*

# Mypy
.mypy_cache/

# Pydantic generated cache
__pydantic__/ 

# Local settings
*.local
